# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Environments 
venv/

# StaticFiles
staticfiles/

# Procfile for AWS Configurations
Procfile

# DB
postgres_data/

# AWS Configuration
.ebextensions/

# Secret Key
secret_key.txt